
  /*::ng-deep  .ui-datatable table
  {
      table-layout:auto !important;
      overflow-y: scroll !important; 
  }
   .ui-datatable .ui-column-filter {
    display: block;
    width:30px;
    margin-right:10px;
}*/
.mat-form-field {
    margin-right: 8px;
  }